h1, h2{
    text-align: center;
    color: rgba(0, 0, 0, 0.842);
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: cornflowerblue;
}
#law{
    padding: 0px;
    margin-left: 750px;
    position: absolute;
    z-index: 2;
}
#rightStatement{
    margin-left: 1200px;
    Padding-top: 0px;
    width: 500px;
    position: absolute;
    z-index: 3;
}
#missionStatement{
    padding-top: 0px;
    margin-left: 200px;
    width: 500px;
    position: absolute;
    z-index: 1;
}
#titleSuccess{
    margin-left: 200px;
    position: absolute;
    margin-top: 600px;
}
#person1Name{
    margin-left: 250px;
    padding-top: 650px;
    position: relative;
    z-index: 1;
    font-style: italic;
}
#person1Story{
    margin-left: 250px;
    padding-top: 10px;
    width: 700px;
    position: relative;
}
.sucess1{
    margin-top: 650px;
    position: absolute;
}
#person2Name{
    margin-left: 250px;
    padding-top: 100px;
    position: relative;
    font-style: italic;
}
#person2Story{
    margin-left: 250px;
    padding-top: 10px;
    width: 700px;
    position: relative;
}
#sucess2{
    margin-top: 100px;
    position: absolute;
}
#person3Name{
    margin-left: 250px;
    padding-top: 100px;
    position: relative;
    font-style: italic;
}
#person3Story{
    margin-left: 250px;
    padding-top: 10px;
    width: 700px;
    position: relative;
}
#success3{
    margin-top: 100px;
    position: absolute;
}
#person4Name{
    margin-left: 250px;
    padding-top: 100px;
    position: relative;
    font-style: italic;
}
#person4Story{
    margin-left: 250px;
    padding-top: 10px;
    width: 700px;
    position: relative;
}
#success4{
    margin-top: 100px;
    position: absolute;
}